<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question</title>


    <link href="../static/css/bootstrap.css/" rel="stylesheet" >
    <link href="../static/css/style.css/" rel="stylesheet" >
</head>
<body>
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">


        <div class="row">
            <div class="col-8">
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(3).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question_title">How to build a moon park?</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2">
                            <div class="like">
                                <button class="btn btn-block btn-primary">Like</button>
                                <button class="btn btn-block btn-primary">Dislike</button>
                            </div>
                        </div>
                        <div class="col-10">


                            <span>Tags:</span>
                            <a href="#" class="text-decoration-none">black-jack</a>
                            <a href="#" class="text-decoration-none">bender</a>

                        </div>
                    </div>
                </div>
                <div class="answer">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(3).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">

                            <div class="answer-text my-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="like">
                                <button class="btn btn-block btn-primary">Like</button>
                                <button class="btn btn-block btn-primary">Dislike</button>
                            </div>
                        </div>
                        <div class="col-10">

                            <input class="form-check-input" type="checkbox" id="myCheck1"  name="remember">
                            <label class="form-check-label" for="myCheck1">Correct!</label>

                        </div>
                    </div>
                </div>
                <div class="answer">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(4).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">

                            <div class="answer-text my-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="like">
                                <button class="btn btn-block btn-primary">Like</button>
                                <button class="btn btn-block btn-primary">Dislike</button>
                            </div>
                        </div>
                        <div class="col-10">

                            <input class="form-check-input" type="checkbox" id="myCheck2" name="remember">
                            <label class="form-check-label" for="myCheck2">Correct!</label>

                        </div>
                    </div>
                </div>
                <div class="answer">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(7).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">

                            <div class="answer-text my-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?lorem20
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="like">
                                <button class="btn btn-block btn-primary">Like</button>
                                <button class="btn btn-block btn-primary">Dislike</button>
                            </div>
                        </div>
                        <div class="col-10">

                            <input class="form-check-input" type="checkbox" id="myCheck3"  name="remember">
                            <label class="form-check-label" for="myCheck3">Correct!</label>

                        </div>
                    </div>
                </div>

                 <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                 </ul>
                <div class=" mb-3 mt-3">

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your answer here." name="text" required></textarea>


                </div>
                <button type="button" class="btn btn-dark mb-2">Answer!</button>

            </div>
            <div class="col-4">

                <h3>Popular tags</h3>
                <span>perl</span>
                <span class="text-danger">python</span>
                <span>TechnoPark </span>
                <span class="text-danger">MySQL</span>
                <span class="text-success">django</span>
                <span>Mail.Ru</span>
                <span>Voloshin</span>
                <span class="text-warning">Firefox</span>
                <br><br>

                <h3>Best members</h3>
                <a href="#" class="text-decoration-none">Mr. Freeman</a><br>
                <a href="#" class="text-decoration-none">Dr.House</a><br>
                <a href="#" class="text-decoration-none">Bender</a><br>
                <a href="#" class="text-decoration-none">Queen Victoria</a><br>
                <a href="#" class="text-decoration-none">V.Pupkin</a><br>

            </div>

        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
</body>
</html>