<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question by tag</title>


    <link href="../static/css/bootstrap.css/" rel="stylesheet" >
    <link href="../static/css/style.css/" rel="stylesheet" >
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light me-2" type="submit">Search</button>
                    <button class="btn btn-outline-light me-5">Ask</button>
                    <div class="avatar-user me-2 ms-2">
                        <img src="../static/img/avatar2%20(4).jpg" class=" " alt="">
                    </div>

                    <span class="text-light text-center me-2">Adam</span><br>
                    <span class="text-light text-center me-2"><a href="#" class="text-primary text-decoration-none">settings</a> </span>
                    <br>
                    <span class="text-light text-center me-1"><a href="#" class="text-primary text-decoration-none nowrap">logout</a> </span>

            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">

        <span class=" h2">Tag:</span>
        <span class=" h2 "><a href="#" class="text-decoration-none">bender</a></span>

        <div class="row mt-3">
            <div class="col-8">
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(3).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question_title"><a href="#" class="text-decoration-none">Question 1</a></h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2">
                            <div class="like text-center">
                                <i class="fas fa-arrow-down"></i>
                                <span>+6</span>
                                <i class="fas fa-arrow-up"></i>
                            </div>
                        </div>
                        <div class="col-10">

                            <a href="#" class="text-decoration-none me-2">answer(3)</a>
                            <span>Tags:</span>
                            <a href="#" class="text-decoration-none">black-jack</a>
                            <a href="#" class="text-decoration-none">bender</a>

                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(4).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question_title"><a href="#" class="text-decoration-none">Question 2</a></h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2">
                            <div class="like text-center">
                                <i class="fas fa-arrow-down"></i>
                                <span>+6</span>
                                <i class="fas fa-arrow-up"></i>
                            </div>
                        </div>
                        <div class="col-10">

                            <a href="#" class="text-decoration-none me-2">answer(3)</a>
                            <span>Tags:</span>
                            <a href="#" class="text-decoration-none">black-jack</a>
                            <a href="#" class="text-decoration-none">bender</a>

                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2%20(7).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question_title"><a href="#" class="text-decoration-none">Question 3</a></h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, dolor dolorem ducimus excepturi harum saepe sequi veritatis. Eius, nulla?
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2">
                            <div class="like text-center">
                                <i class="fas fa-arrow-down"></i>
                                <span>+6</span>
                                <i class="fas fa-arrow-up"></i>
                            </div>
                        </div>
                        <div class="col-10">

                            <a href="#" class="text-decoration-none me-2">answer(3)</a>
                            <span>Tags:</span>
                            <a href="#" class="text-decoration-none">black-jack</a>
                            <a href="#" class="text-decoration-none">bender</a>

                        </div>
                    </div>
                </div>


                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>


            </div>
            <div class="col-4">

                <h3>Popular tags</h3>
                <span>perl</span>
                <span class="text-danger">python</span>
                <span>TechnoPark </span>
                <span class="text-danger">MySQL</span>
                <span class="text-success">django</span>
                <span>Mail.Ru</span>
                <span>Voloshin</span>
                <span class="text-warning">Firefox</span>
                <br><br>

                <h3>Best members</h3>
                <a href="#" class="text-decoration-none">Mr. Freeman</a><br>
                <a href="#" class="text-decoration-none">Dr.House</a><br>
                <a href="#" class="text-decoration-none">Bender</a><br>
                <a href="#" class="text-decoration-none">Queen Victoria</a><br>
                <a href="#" class="text-decoration-none">V.Pupkin</a><br>

            </div>

        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<script src="https://kit.fontawesome.com/24bb07159b.js" crossorigin="anonymous"></script>

</body>
</html>
