
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>


    <link href="../static/css/bootstrap.css/" rel="stylesheet" >
    <link href="../static/css/style.css/" rel="stylesheet" >

</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light me-2" type="submit">Search</button>
                    <button class="btn btn-outline-light me-5">Ask</button>
                    <div class="avatar-user me-2 ms-2">
                        <img src="../static/img/avatar2%20(4).jpg" class=" " alt="">
                    </div>

                    <span class="text-light text-center me-2">Adam</span><br>
                    <span class="text-light text-center me-2"><a href="#" class="text-primary text-decoration-none">settings</a> </span>
                    <br>
                    <span class="text-light text-center me-1"><a href="#" class="text-primary text-decoration-none nowrap">logout</a> </span>

            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">

        <span class="col-3 h2 ">Settings:</span>
        <span class="col-3 h2 ">Dr. Pepper</span>

        <div class="row mt-3">
            <div class="col-8">

                <form action="/action_page.php" class="was-validated">

                    <div class="mb-2">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="login" placeholder="dr_pepper" name="title" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Sorry, this login already registered.</div>
                    </div>

                    <div class="mb-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="dr.papper@mail.ru" name="title" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Sorry, this email already registered.</div>
                    </div>

                    <div class="mb-2">
                        <label for="nickname" class="form-label">NickName</label>
                        <input type="text" class="form-control" id="nickname" placeholder="Dr. Pepper" name="title" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Sorry, this nickName already registered.</div>
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload avatar</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <button type="button" class="btn btn-dark mb-2 mt-2">Save!</button>

                </form>

            </div>
            <div class="col-4">

                <h3>Popular tags</h3>
                <span>perl</span>
                <span class="text-danger">python</span>
                <span>TechnoPark </span>
                <span class="text-danger">MySQL</span>
                <span class="text-success">django</span>
                <span>Mail.Ru</span>
                <span>Voloshin</span>
                <span class="text-warning">Firefox</span>
                <br><br>

                <h3>Best members</h3>
                <a href="#" class="text-decoration-none">Mr. Freeman</a><br>
                <a href="#" class="text-decoration-none">Dr.House</a><br>
                <a href="#" class="text-decoration-none">Bender</a><br>
                <a href="#" class="text-decoration-none">Queen Victoria</a><br>
                <a href="#" class="text-decoration-none">V.Pupkin</a><br>

            </div>

        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
  integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
  crossorigin="anonymous"></script>
<script src="../static/js/password_check_btn.js"></script>
</body>
</html>